.categori-menu-list {
    > li ul.custom-megamenu {
        width: auto;
        > .single-megamenu {
            width: auto;
        }
    }
}
.single-megamenu ul li {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
span.custom-social-icon {
    margin-left: 5%;

}
a.social-icon {
    margin-left: 2%;
}
